openapi: 3.1.0
info:
  title: TheOption Life — Master Workspace API
  description: |
    Cross-workspace management API for the master agent.
    Provides access to all provisioned client workspaces and their assets, projects, and graphics.

    Authentication: Bearer token using the main or admin API key.
    All workspace operations require ?workspace=<id> to target a specific tenant.
    Call GET /api/workspaces first to discover available workspace IDs.
  version: 1.0.0

servers:
  - url: https://theoption.life
    description: Production server

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: Main or admin API key. Not a workspace-scoped token.

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string

security:
  - ApiKeyAuth: []

paths:

  /api/workspaces:
    get:
      operationId: listWorkspaces
      summary: List all provisioned client workspaces
      description: |
        Returns all workspace IDs provisioned on the server with per-category asset counts.
        Call this first to discover available workspace IDs before calling other endpoints.
      responses:
        '200':
          description: List of workspaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspaces:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Workspace identifier — use as the ?workspace= param value
                        total_assets:
                          type: integer
                        assets:
                          type: object
                          description: Per-category asset counts
                          properties:
                            logos:
                              type: integer
                            backgrounds:
                              type: integer
                            templates:
                              type: integer
                            images:
                              type: integer
        '403':
          description: Admin or main key required

  /api/workspace:
    get:
      operationId: browseWorkspace
      summary: Browse a workspace's assets and projects
      description: |
        Returns asset listings and project summaries for a specific workspace.
        Lightweight by default (counts only). Use query params to expand.
      parameters:
        - name: workspace
          in: query
          required: true
          schema:
            type: string
          description: Workspace ID to operate on (e.g. "aif", "cicit", "mindroots"). Get available IDs from GET /api/workspaces.
        - name: assets
          in: query
          schema:
            type: string
            enum: ["true"]
          description: Include full asset file listings with public URLs
        - name: project
          in: query
          schema:
            type: string
          description: Return full detail for one named project
        - name: id
          in: query
          schema:
            type: string
          description: Return full detail for one graphic by ID
        - name: includeVersions
          in: query
          schema:
            type: string
            enum: ["true"]
          description: Include version arrays when listing projects
        - name: version
          in: query
          schema:
            type: integer
          description: When used with id, returns source html/css/meta for that version
        - name: inline
          in: query
          schema:
            type: string
            enum: ["true"]
          description: When used with id+version, returns self-contained HTML with CSS embedded
      responses:
        '200':
          description: Workspace data
          content:
            application/json:
              schema:
                type: object
                properties:
                  assets:
                    type: object
                    description: Asset categories — counts by default, full listings with urls when assets=true
                  projects:
                    type: object
                    description: Project listings
                  graphic:
                    type: object
                    description: Single graphic detail (when id param provided)
        '403':
          description: Invalid key or workspace access denied
        '404':
          description: Workspace, project, or graphic not found

  /api/workspace/upload:
    post:
      operationId: uploadAsset
      summary: Upload an image asset to a workspace
      description: |
        Uploads a base64-encoded image to the workspace asset library.

        Allowed types: JPEG, PNG, GIF, WebP. Maximum size: 10MB decoded.
        File content is validated by magic bytes — the extension alone is not trusted.
        Existing files with the same name are overwritten.
      parameters:
        - name: workspace
          in: query
          required: true
          schema:
            type: string
          description: Workspace ID to operate on (e.g. "aif", "cicit", "mindroots"). Get available IDs from GET /api/workspaces.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - category
                - filename
                - data
              properties:
                category:
                  type: string
                  enum: [logos, backgrounds, templates, images]
                  description: Asset category (storage folder)
                filename:
                  type: string
                  description: Destination filename with extension (e.g. "logo.png")
                data:
                  type: string
                  description: Base64-encoded image content. A data URL prefix (e.g. "data:image/png;base64,...") is stripped automatically if present.
      responses:
        '201':
          description: Asset uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  filename:
                    type: string
                  category:
                    type: string
                  url:
                    type: string
                    format: uri
                    description: Public URL to access the uploaded asset immediately
                  size:
                    type: integer
                    description: Decoded file size in bytes
                  type:
                    type: string
                    description: Detected MIME type (e.g. image/png)
                  message:
                    type: string
        '400':
          description: Invalid input — bad category, filename, file too large, or unsupported image type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Workspace not found

  /api/workspace/create:
    post:
      operationId: createGraphic
      summary: Create a graphic or new version in a workspace
      description: |
        Creates a new graphic (provide "project") or a new version of an existing
        graphic (provide "id"). Returns a preview URL on success.
      parameters:
        - name: workspace
          in: query
          required: true
          schema:
            type: string
          description: Workspace ID to operate on (e.g. "aif", "cicit", "mindroots"). Get available IDs from GET /api/workspaces.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - html
              properties:
                project:
                  type: string
                  description: Project name for a new graphic (required if no id)
                id:
                  type: string
                  description: Existing graphic ID for a new version (required if no project)
                html:
                  type: string
                  description: HTML content (script tags and event handlers are rejected)
                css:
                  type: string
                  description: CSS styles
                notes:
                  type: string
                  description: Notes about this version
                baseVersion:
                  type: integer
                  description: Version this revision is based on (for ancestry tracking)
      responses:
        '201':
          description: Graphic or version created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  project:
                    type: string
                  version:
                    type: integer
                  previewUrl:
                    type: string
                    format: uri
                  message:
                    type: string
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Workspace or graphic not found

  /api/workspace/render:
    post:
      operationId: renderGraphic
      summary: Render a graphic to PNG
      description: |
        Renders a graphic version to a high-resolution PNG.
        Multiple formats can be rendered per version — each is stored separately.
      parameters:
        - name: workspace
          in: query
          required: true
          schema:
            type: string
          description: Workspace ID to operate on (e.g. "aif", "cicit", "mindroots"). Get available IDs from GET /api/workspaces.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: Graphic ID
                version:
                  type: integer
                  description: Version to render (defaults to latest)
                format:
                  type: string
                  enum: [letter, a4, ig_square, ig_story]
                  default: letter
                  description: "Output dimensions — letter: 816×1056, a4: 794×1123, ig_square: 1080×1080, ig_story: 1080×1920"
      responses:
        '200':
          description: Image rendered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  project:
                    type: string
                  version:
                    type: integer
                  format:
                    type: string
                  imageUrl:
                    type: string
                    format: uri
                  message:
                    type: string
        '404':
          description: Workspace, graphic, or version not found
        '503':
          description: Rendering unavailable (Puppeteer not installed)

  /api/workspace/organize:
    post:
      operationId: organizeProject
      summary: Create a project folder in a workspace
      description: Creates a project folder. Supports nested paths (e.g. "ramadan-2026/social-media").
      parameters:
        - name: workspace
          in: query
          required: true
          schema:
            type: string
          description: Workspace ID to operate on (e.g. "aif", "cicit", "mindroots"). Get available IDs from GET /api/workspaces.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - project
              properties:
                project:
                  type: string
                  description: Project path (e.g. "ramadan-2026" or "ramadan-2026/social-media")
      responses:
        '201':
          description: Project folder created
          content:
            application/json:
              schema:
                type: object
                properties:
                  project:
                    type: string
                  message:
                    type: string
        '400':
          description: Invalid project path
        '404':
          description: Workspace not found
